* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 20px 50px #69140e;
    width: 100%;
    max-width: 500px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color:#6e0d25;
    text-shadow: 2px 2px 4px #dcab6b;
}

.registration-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.form-group label {
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button {
    padding: 10px;
    background-color: #780000;
    color: #fff;
    border: none;
    border-radius: 40px;
    font-size: larger;
    cursor: pointer;
    margin-top: 10px;
    font-weight: bolder;
}

button:hover {
    background-color: white;
    color:#780000;
    font-size: larger;
    font-weight: bolder;

}
